/* 마우스를 올려놓으면 반응  */
  a:hover {
  color: red;
}

/* 마우스 클릭 되고 있는 상황에 반응 */
a:active {
  background-color: orange;
}

input:focus {
  background-color: orange;
}

/* .fruits span:first-child {
  color: red;
}

.fruits h3:last-child {
  color: blue;
} */

/* 홀수선택
.fruits *:nth-child(2n+1) {
  color: red;
} */

.fruits *:not(span) {
  color: red;
}