@mixin button($width: 100%, $bg-color: grey, $font-color: white) {
  display: block;
  width: $width;
  height: 30px;
  border-radius: 15px; 
  background-color: $bg-color; 
  color: $font-color; 
  text-align: center;
  font: bold 16px/30px "arial";
  margin-top: 20px;
  }